.card {
	width: 15vw;
	height: 40vh;
	border-radius: 8px;
}

img {
	height: 40vh;
	width: auto;
	object-fit: cover;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.88) 30%, rgba(255, 255, 255, 0.44) 100%);
}

p {
	color: #ffffff;
	font-size: 0.8rem;
	text-overflow: clip;
	display: relative;
	top: 0.8rem;
}