@import url('./catpuccin.css');

.card {
	width: max(15vw, 200px);
	height: 40vh;
	position: relative;
	border-radius: 8px;
}

.card:hover {
	cursor: pointer;
	box-shadow: 0 0 16px var(--accent);
}

img {
	height: 40vh;
	width: 100%;
	border-radius: 8px;
	object-fit: cover;
}

p {
	font-size: 0.8rem;
	height: 0.8rem;
	overflow: scroll;
	position: relative;
	bottom: 2.4rem;
	left: 8px;
	width: calc(100% - 16px);
	z-index: 2;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 15%, rgba(255, 255, 255, 0.1) 100%);
	z-index: 1;
	border-radius: 8px;
}